In [26]:
import pyarrow as pa
import pyarrow.parquet as pq
from datetime import datetime

In [31]:
d = {
    "a": "aa",
    "b": 123,
    "c": 45.6,
    "d": datetime.strptime(d["d"], "%Y-%m-%d")
}

In [43]:
pat = pa.Table.from_pylist([d])
pat

pyarrow.Table
a: string
b: int64
c: double
d: timestamp[us]
----
a: [["aa"]]
b: [[123]]
c: [[45.6]]
d: [[2023-03-01 00:00:00.000000]]

In [33]:
pq.write_table(pat, 'example.parquet')

In [36]:
df = pq.read_table('example.parquet').to_pandas()
df

    a    b     c          d
0  aa  123  45.6 2023-03-01

In [37]:
df.dtypes

a            object
b             int64
c           float64
d    datetime64[ns]
dtype: object

In [47]:
df = pq.read_table('../data').to_pandas()
df.dtypes

title           object
isbn13         float64
author          object
date_pub        object
mean_rating    float64
num_rating       int64
user_rating      int64
date_read       object
date_added      object
dtype: object

5