In [1]:
import pyarrow as pa
import pyarrow.parquet as pq
from datetime import datetime

In [31]:
d = {
    "a": "aa",
    "b": 123,
    "c": 45.6,
    "d": datetime.strptime(d["d"], "%Y-%m-%d")
}

In [43]:
pat = pa.Table.from_pylist([d])
pat

pyarrow.Table
a: string
b: int64
c: double
d: timestamp[us]
----
a: [["aa"]]
b: [[123]]
c: [[45.6]]
d: [[2023-03-01 00:00:00.000000]]

In [33]:
pq.write_table(pat, 'example.parquet')

In [36]:
df = pq.read_table('example.parquet').to_pandas()
df

    a    b     c          d
0  aa  123  45.6 2023-03-01

In [37]:
df.dtypes

a            object
b             int64
c           float64
d    datetime64[ns]
dtype: object

In [4]:
import pyarrow as pa
import pyarrow.parquet as pq
from datetime import datetime

In [28]:
schema = pa.schema([
    ("title", pa.string()),
    ("isbn13", pa.int64()),
    ("author", pa.string()),
    ("date_pub", pa.string()),
    ("mean_rating", pa.float64()),
    ("num_rating", pa.int64()),
    ("user_rating", pa.int64()),
    ("date_read", pa.string()),
    ("date_added", pa.string()),
    ("review_text", pa.string()),
    ("shelf_url", pa.string()),
])
df = pq.read_table('../data', schema=schema).to_pandas()
# df.dtypes
df.head()

,title,isbn13,author,date_pub,mean_rating,num_rating,user_rating,date_read,date_added,review_text,shelf_url
0,Mabinogion Tales,9.780948e+12,"Guest, Charlotte",1410,3.95,20,5,"Mar 03, 2018","January 28, 2018",None,https://www.goodreads.com/review/list/40648422...
1,The Lions of Al-Rassan,9.780061e+12,"Kay, Guy Gavriel",1995,4.30,21570,5,Apr 2017,"March 30, 2017",None,https://www.goodreads.com/review/list/40648422...
2,Jane Eyre,9.780142e+12,"Brontë, Charlotte","Oct 16, 1847",4.14,1966693,5,None,"May 05, 2015",None,https://www.goodreads.com/review/list/40648422...
3,The Sunne in Splendour,9.780345e+12,"Penman, Sharon Kay",Oct 1982,4.40,21351,5,"May 04, 2015","April 27, 2015","Just finished this book 2 days ago, and wow! I...",https://www.goodreads.com/review/list/40648422...
4,"Shōgun (Asian Saga, #1)",NaN,"Clavell, James","Jun 01, 1975",4.40,167720,5,None,"April 03, 2015",None,https://www.goodreads.com/review/list/40648422...

In [29]:
len(df)

220

In [22]:
schema = pa.schema([
    ("title", pa.string()),
    ("isbn13", pa.int32()),
    ("author", pa.string()),
    ("date_pub", pa.string()),
    ("mean_rating", pa.float32()),
    ("num_rating", pa.int32()),
    ("user_rating", pa.int32()),
    ("date_read", pa.string()),
    ("date_added", pa.string()),
    ("review_text", pa.string()),
    ("shelf_url", pa.string()),
])
df = pq.read_table('../data/00001.parquet')
df.schema

title: string
isbn13: int64
author: string
date_pub: string
mean_rating: double
num_rating: int64
user_rating: int64
date_read: string
date_added: string
review_text: null
shelf_url: string

In [18]:
type(df.schema)

pyarrow.lib.Schema

In [19]:
schema = pa.schema([
    ("title": pa.string()),
    ("isbn13": pa.int32()),
    ("author": pa.string()),
    ("date_pub": pa.string()),
    ("mean_rating": pa.float()),
    ("num_rating": pa.int32()),
    ("user_rating": pa.int32()),
    ("date_read": pa.string()),
    ("date_added": pa.string()),
    ("review_text": pa.string()),
    ("shelf_url": pa.string()),
])

some_int: int32
some_string: string